/* Main Styles */
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Palanquin+Dark:wght@400;600&display=swap');

:root{
  --bg-color: #dddddd;
  --primary-color: #30475e;
  --para-color: #222831;
  --link-color: #f05454;
  --header-font: 'Palanquin Dark', sans-serif;
  --para-font: 'Hind', sans-serif;
}

body{
  background-color: var(--bg-color);
}